/* book item section */
.book-item {
  padding: var(--section-padding);
}
.book-item .container {
  display: flex;
  gap: 50px;
}
.book-item .img-container {
  width: 30%;
  min-width: 180px;
  margin: auto;
}
img {
  width: 100%;
  height: 100%;
}
.book-info {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.book-info .book-title {
  color: var(--dark-grey);
}
.book-info .authors {
  margin: 10px 0 20px;
  color: var(--half-grey);
  font-weight: 400;
}
.book-info .Publisher,
.Published-date {
  color: var(--half-grey);
  font-size: 14px;
}
.book-info .Published-date {
  margin: 10px 0 30px;
}
.Publisher span,
.Published-date span {
  font-weight: 600;
}
.cart-btn {
  max-width: 300px;
  margin-bottom: 10px;
  padding: 10px;
  background-color: var(--dark-grey);
  color: white;
  font-size: 16px;
}
.cart-btn a {
  color: white;
}
/* description section */
.description .container {
  position: relative;
  padding: var(--section-padding);
}
.description .container::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  top: 0;
  left: 0;
  background-color: var(--light-grey);
}
.description h3 {
  margin-bottom: 20px;
  color: var(--dark-grey);
  font-size: 24px;
}
.description p {
  line-height: 1.5;
}
@media (max-width: 576px) {
  .book-item .container {
    flex-direction: column-reverse;
  }
  .book-item .container button {
    max-width: 100%;
  }
}
