:root {
  --blue: #54adec;
  --blue-hover: #62bdfc;
  --dark-grey: rgb(36, 36, 36);
  --half-grey: rgba(0, 0, 0, 0.5);
  --light-grey: rgb(209, 209, 209);
  --bg-grey: rgb(235, 238, 241);
  --red: #d14031;
  --section-padding: 80px 0;
}
.cart-items {
  padding: 60px 0;
  height: 100%;
}
.cart-items .container {
  padding: 20px;
  border-radius: 10px;
  background-color: var(--bg-grey);
}
.cart-items .empty-cart {
  padding: 12px;
  font-size: 16px;
  text-align: center;
}
.cart-items .empty-cart button {
  margin-top: 40px;
  padding: 10px;
  border-radius: 5px;
  background-color: var(--blue);
  color: white;
  font-size: 18px;
}
.cart-items .empty-cart button:hover {
  background-color: var(--blue-hover);
}
.cart-items .empty-cart button a {
  color: white;
}
.cart-items .cart-item {
  padding: 20px;
  display: flex;
}
.cart-items .cart-item:not(:last-child) {
  border-bottom: 1px solid var(--light-grey);
}
.cart-item .img-container {
  margin-right: 30px;
}
.cart-item h4 {
  margin: 8px 0 20px;
  color: var(--dark-grey);
}
.cart-item .actions button {
  width: 25px;
  height: 20px;
  border-radius: 3px;
  font-size: 18px;
  background-color: var(--half-grey);
  color: white;
}
.cart-item .actions button:disabled {
  background-color: var(--light-grey);
  cursor: auto;
}
.cart-item .remove-btn {
  margin-top: 30px;
  border: 2px solid var(--red);
  border-radius: 5px;
  padding: 5px;
  color: var(--red);
}
.cart-item .remove-btn:hover {
  background-color: var(--red);
  color: white;
}
