/* cart items section */
.cart-items {
  padding: 60px 0;
  height: 100%;
}
.cart-items .container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px;
  border-radius: 10px;
  background-color: var(--bg-grey);
}
.cart-items .cart-item {
  display: flex;
  gap: 30px;
}
.cart-items .cart-item:not(:last-child) {
  padding-bottom: 24px;
  border-bottom: 1px solid var(--light-grey);
}
.cart-item h4 {
  margin: 5px 0 20px;
  color: var(--dark-grey);
}
.cart-item .actions {
  display: flex;
  gap: 8px;
}
.cart-item .actions button {
  width: 25px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  font-size: 18px;
  background-color: var(--half-grey);
  color: white;
}
.cart-item .actions button:disabled {
  background-color: var(--light-grey);
  cursor: auto;
}
.cart-item .remove-btn {
  margin-top: 20px;
  border: 2px solid var(--red);
  border-radius: 5px;
  padding: 5px;
  color: var(--red);
}
.cart-item .remove-btn:hover {
  background-color: var(--red);
  color: white;
}
.cart-items .empty-cart {
  padding: 12px;
  font-size: 16px;
  text-align: center;
}
.cart-items .empty-cart button {
  margin-top: 40px;
  padding: 10px;
  border-radius: 5px;
  background-color: var(--blue);
  color: white;
  font-size: 18px;
}
.cart-items .empty-cart button:hover {
  background-color: var(--blue-hover);
}
.cart-items .empty-cart button a {
  color: white;
}
@media (max-width: 576px) {
  .cart-item {
    flex-direction: column-reverse;
  }
  .cart-item {
    text-align: center;
  }
  .cart-item .actions {
    justify-content: center;
  }
}
