/* navbar */
.navbar {
  position: absolute;
  background-color: transparent;
}
/* landing section */
.landing-section {
  position: relative;
  height: 100vh;
  background-image: url(../imgs/open-textbook.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.landing-section .landing-content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.landing-section h2 {
  width: 60%;
  color: white;
  font-size: 48px;
  line-height: 1.4;
}
.landing-section button {
  margin-top: 30px;
  padding: 10px 30px;
  background-color: var(--blue);
  color: white;
  font-size: 18px;
  font-weight: 600;
}
.landing-section button:hover {
  background-color: var(--blue-hover);
}
/* Books Section */
.books .container {
  padding: var(--section-padding);
}
.books .heading {
  margin-bottom: 40px;
}
.books .heading h2 {
  width: fit-content;
  margin: auto;
  padding: 10px;
  border: 2px solid rgb(26, 26, 26);
  color: rgb(26, 26, 26);
  text-align: center;
}
.books .books-container {
  width: fit-content;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}
.book-container {
  padding: 20px;
  max-width: 270px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  background-color: #fafafa;
  text-align: center;
  cursor: pointer;
  border: 1px solid var(--bg-grey);
  transition: all 0.2s ease-in-out;
}
.book-container:hover {
  transform: scale(1.015);
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.12);
}
.book-container:hover img {
  transform: scale(1.015);
}
.book-container .img-container {
  margin-bottom: 10px;
}
.book-container img {
  width: 150px;
  height: 200px;
  transition: all 0.2s ease-in-out;
}
.book-container .book-info {
  height: 100%;
}
.book-container .book-info h5 {
  margin-top: 5px;
  margin-bottom: 15px;
  color: var(--half-grey);
}
.book-container .actions {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
.book-container .details-btn {
  min-width: fit-content;
  padding: 5px 5px;
  border: 1px solid var(--dark-grey);
  background-color: white;
  color: rgb(34, 34, 34);
  font-size: 12px;
  flex: 1;
}
.book-container .cart-btn {
  min-width: fit-content;
  flex: 1;
  margin-right: 5px;
  padding: 5px 30px;
  background-color: var(--dark-grey);
  color: white;
  font-size: 14px;
}
.no-results {
  display: none;
  font-size: 24px;
}
@media (max-width: 576px) {
  .books .books-container {
    padding: 80px 0;
    grid-template-columns: repeat(1, 1fr);
  }
  .landing-section h2 {
    font-size: 32px;
  }
}
@media (min-width: 577px) {
  .books .books-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 992px) {
  .books .books-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1440px) {
  .books .books-container {
    grid-template-columns: repeat(4, 1fr);
  }
}
