:root {
  --blue: #54adec;
  --blue-hover: #62bdfc;
  --dark-grey: rgb(36, 36, 36);
  --half-grey: rgba(0, 0, 0, 0.5);
  --light-grey: rgb(209, 209, 209);
  --bg-grey: rgb(235, 238, 241);
  --red: #d14031;
  --section-padding: 60px 0;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* general styling */
body {
  font-family: Arial, Helvetica, sans-serif;
}
ul {
  list-style: none;
}
a {
  display: inline-block;
  text-decoration: none;
}
img {
  display: inline-block;
}
p {
  color: rgba(0, 0, 0, 80%);
}
button {
  cursor: pointer;
  border: none;
}
input {
  border: none;
  outline: none;
}
/* general classes */
.container {
  width: 80%;
  margin: auto;
}
.sticky {
  position: fixed !important;
  top: 0;
  width: 100%;
  background-color: var(--dark-grey) !important;
}
.pre-load {
  width: 100%;
  text-align: center;
}
.error {
  display: none;
  color: var(--dark-grey);
  font-size: 24px;
}
.display {
  display: flex !important;
}
/* navbar */
.navbar {
  position: sticky;
  width: 100%;
  padding: 20px 0;
  top: 0;
  z-index: 2;
  background-color: var(--dark-grey);
  color: white;
  transition: all 0.2s ease;
}
.navbar-open {
  background-color: var(--dark-grey) !important;
}
.navbar .container {
  display: flex;
  align-items: center;
  gap: 16px;
  position: relative;
}
.navbar .logo a {
  display: block;
  min-width: 100px;
  max-width: 160px;
}
.navbar .logo img {
  width: 100%;
  height: 100%;
  display: block;
}
.navbar__dropdown-menu {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  align-items: center;
  gap: 16px;
  transition: display 1s ease-in-out;
}
.search {
  display: flex;
  flex-grow: 1;
}
.search input {
  flex-basis: 100%;
  margin-right: 5px;
  padding: 10px;
  border: none;
  border-radius: 3px;
  outline: none;
}
.search button {
  min-width: fit-content;
  padding: 10px;
  background-color: var(--blue);
  border-radius: 3px;
  color: white;
}
.search button:hover {
  background-color: var(--blue-hover);
}
.navbar .navbar__links {
  display: flex;
}
.navbar__links li {
  position: relative;
  padding: 0 10px;
}
.navbar a {
  color: var(--bg-grey);
}
.navbar .cart-icon {
  display: flex;
  gap: 8px;
}
.navbar li .cart-count {
  position: absolute;
  top: -15px;
  right: 0;
  width: 20px;
  height: 20px;
  display: none;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--blue);
  font-size: 14px;
}
.navbar a:hover {
  color: var(--blue);
}
.navbar__dropdown__icon {
  display: none;
}
.navbar__dropdown__icon {
  display: none;
  cursor: pointer;
  width: 24px;
  padding: 6px 0;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
}
.navbar__dropdown__icon span {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #fff;
}
/* footer */
footer {
  padding: 80px 0;
  background-color: var(--dark-grey);
}
footer p {
  color: var(--light-grey);
  font-size: 12px;
  line-height: 1.5;
}
footer .container {
  display: flex;
  flex-wrap: wrap;
  gap: 45px;
}
footer .footer-section:first-child {
  flex-grow: 1;
  width: 35%;
}
footer .footer-section h4 {
  margin-bottom: 20px;
  color: #fff;
}
footer .footer-section:first-child p.copyright {
  margin-top: 10px;
}
footer .footer-section:nth-child(2) {
  flex-grow: 1;
  width: 40%;
}
footer form {
  width: 100%;
  margin-top: 10px;
  display: flex;
  align-items: center;
}
footer input {
  height: 34px;
  font-size: 12px;
}
footer input[type="email"] {
  width: 90%;
  padding: 10px 15px;
}
footer input[type="submit"] {
  width: 10%;
  margin-left: -5px;
  background-color: var(--blue);
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  color: #fff;
  cursor: pointer;
}
footer .social svg {
  margin-left: 7px;
  margin-top: 15px;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
}
@media (max-width: 992px) {
  .navbar .container {
    justify-content: space-between;
  }
  .navbar__dropdown-menu {
    display: none;
    flex-direction: column;
    gap: 16px;
    padding: 20px 0;
    width: 100vw;
    background-color: var(--dark-grey);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, calc(100% + 20px));
    text-align: center;
    transition: display 1s ease-in-out;
  }
  .navbar__dropdown-menu ul {
    flex-direction: column;
    gap: 20px;
  }
  .navbar__dropdown-menu .search {
    width: 80%;
    margin: auto;
  }
  .navbar__dropdown__icon {
    display: flex;
  }
}
@media (max-width: 576px) {
  .navbar__dropdown-menu .search {
    width: auto;
  }
  footer .container {
    flex-direction: column;
  }
  footer .container > * {
    width: 100% !important;
  }
}
